{% extends 'base.html.twig' %}

{% block title %}{{ 'comment.edit.heading'|trans }}{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 6rem;">
        {# Flash messages #}
        <h2 class="mb-4">{{ 'comment.edit.heading'|trans }}</h2>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-3">
                {{ 'button.save_changes'|trans }}
            </button>
            <a href="{{ path('post_show', {id: comment.post.id}) }}" class="btn btn-secondary mt-3">
                {{ 'button.cancel'|trans }}
            </a>
        {{ form_end(form) }}
    </div>
{% endblock %}