{% extends 'base.html.twig' %}

{% block title %}{{ 'post.delete'|trans }}{% endblock %}

{% block body %}
<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 py-3">
    <div class="col-md-8 col-lg-7"> 
        <div class="card shadow d-flex flex-column" style="max-height: 90vh;"> 
            
            <div class="card-header bg-danger text-white"> 
                <h5 class="mb-0 text-center"><strong>{{ 'post.delete_confirmation'|trans }}</strong></h5> 
            </div>
            
            <div class="card-footer text-center"> 
                {{ form_start(form) }}
                    <button type="submit" class="btn btn-danger btn-lg me-2"> 
                        <i class="bi bi-trash"></i> {{ 'button.delete_confirmation'|trans }}
                    </button>
                    <a href="{{ cancel_url }}" class="btn btn-secondary btn-lg"> 
                        <i class="bi bi-x-circle"></i> {{ 'button.cancel'|trans }}
                    </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}