{% extends 'base.html.twig' %}
{% block body %}
<h1 style="margin-top: 6rem;">{{ 'user.list'|trans }}</h1>
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
<table class="table" style="margin-top: 6rem;">
    <tr>
        <th>{{ 'ID'|trans }}</th>
        <th>{{ 'form.nickname'|trans }}</th>
        <th>{{ 'form.email'|trans }}</th>
        <th>{{ 'form.roles'|trans }}</th>
        <th>{{ 'form.status'|trans }}</th>
        <th>{{ 'actions'|trans }}</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>
            {% if user.isBlocked %}
                <span class="badge bg-danger">{{ 'user.status.blocked'|trans }}</span>
            {% else %}
                <span class="badge bg-success">{{ 'user.status.active'|trans }}</span>
            {% endif %}
            </td>
            <td>
                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm">{{ 'button.edit'|trans }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div class="pagination justify-content-center">
    {{ knp_pagination_render(users) }}
</div>
{% endblock %}